<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>name</key>
				<string>毛泽东</string>
				<key>intro</key>
				<string>第一界国家主席</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>name</key>
				<string>朱德</string>
				<key>intro</key>
				<string>第一届国家副主席</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>name</key>
				<string>周恩来</string>
				<key>intro</key>
				<string>第一届国务院总理</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>name</key>
				<string>陈云</string>
				<key>intro</key>
				<string>第一届国务院副总理</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>005.png</string>
				<key>name</key>
				<string>林彪</string>
				<key>intro</key>
				<string>第一届国务院副总理</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>name</key>
				<string>彭德怀</string>
				<key>intro</key>
				<string>第一届国务院副总理</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>name</key>
				<string>聂荣臻</string>
				<key>intro</key>
				<string>第一届国务院副总理</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>name</key>
				<string>刘少奇</string>
				<key>intro</key>
				<string>第二届国家主席</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>009.png</string>
				<key>name</key>
				<string>宋庆龄</string>
				<key>intro</key>
				<string>第二届国家副主席</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>name</key>
				<string>谭震林</string>
				<key>intro</key>
				<string>第二届国务院副总理</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>name</key>
				<string>邓小平</string>
				<key>intro</key>
				<string>第三界国务院副总理</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>我的好友</string>
		<key>online</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>name</key>
				<string>赵薇</string>
				<key>intro</key>
				<string>我是小燕子</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>name</key>
				<string>林心如</string>
				<key>intro</key>
				<string>还记得大明湖畔的夏雨荷吗？</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>name</key>
				<string>范冰冰</string>
				<key>intro</key>
				<string>学奇、金宝都是我的!</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>小学</string>
		<key>online</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>name</key>
				<string>舒淇</string>
				<key>intro</key>
				<string>我要把脱下的衣服都穿起来</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>name</key>
				<string>李小龙</string>
				<key>intro</key>
				<string>我要打十个！</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>name</key>
				<string>成龙</string>
				<key>intro</key>
				<string>当初是用命在拍戏</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>name</key>
				<string>容嬷嬷</string>
				<key>intro</key>
				<string>啊哈哈哈哈哈</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>初中</string>
		<key>online</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>name</key>
				<string>文章</string>
				<key>intro</key>
				<string>拿不出证据，我弄死你们！</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>007.png</string>
				<key>name</key>
				<string>李宗瑞</string>
				<key>intro</key>
				<string>我的37G，你值得拥有！</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>高中</string>
		<key>online</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>name</key>
				<string>史泰龙</string>
				<key>intro</key>
				<string>第一滴血</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>name</key>
				<string>泰森</string>
				<key>intro</key>
				<string>叶问3</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>高二</string>
		<key>online</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>002.png</string>
				<key>name</key>
				<string>Eson</string>
				<key>intro</key>
				<string>你会不会忽然的出现，在街角的咖啡店。</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>name</key>
				<string>爱河</string>
				<key>intro</key>
				<string>如果能够重新来过，你会不会爱我。</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>name</key>
				<string>Gee</string>
				<key>intro</key>
				<string>不要对我说再见，一句再见。</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>高三</string>
		<key>online</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>name</key>
				<string>何以笙箫默</string>
				<key>intro</key>
				<string>不将就！</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>name</key>
				<string>小幸运</string>
				<key>intro</key>
				<string>遇见你，是生命最好的事情</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>大一</string>
		<key>online</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>003.png</string>
				<key>name</key>
				<string>叶良辰</string>
				<key>intro</key>
				<string>奉劝阁下三思而行</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>name</key>
				<string>左耳</string>
				<key>intro</key>
				<string>爱对了，是爱情。爱错了，是青春。</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>大二</string>
		<key>online</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>004.png</string>
				<key>name</key>
				<string>King</string>
				<key>intro</key>
				<string>我的王国我做主</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>008.png</string>
				<key>name</key>
				<string>Ben</string>
				<key>intro</key>
				<string>are you king me?</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>大三</string>
		<key>online</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>006.png</string>
				<key>name</key>
				<string>Jack</string>
				<key>intro</key>
				<string>在我心上，用力的开一枪。</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>001.png</string>
				<key>name</key>
				<string>Jee</string>
				<key>intro</key>
				<string>生活不止眼前的苟且</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>大四</string>
		<key>online</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
